<div id="<%= dom_id group %>" class="group">
  <div class="icon">
    <%= image_tag group.icon, size: "60x60", alt: "icon" if group.icon %>
  </div>
  <div class="name">
    <strong><%= group.name %></strong>
    <small><%= group.created_at.strftime("%d-%b-%Y")  %></small>
  </div>
  <strong>$<%= group.entities.sum(&:amount) %></strong>

</div>
