<div class="details-page">
  <div class="top">
    <a href="/groups"> <i class="fa fa-arrow-left" aria-hidden="true"></i> </a>
    <h2>TRANSACTIONS</h2>
    <div class="actions">
      <%= link_to "Edit", edit_group_path(@group), class: 'toplink' %>
    </div>
  </div>
  <div class="down">
    <div class="group-info">
      <%= image_tag @group.icon, size: "60x60", alt: "icon" %>
      <h2><%= @group.name.upcase %></h2>
      <strong>Total Amount: $<%= @total %></strong>
    </div>
    <div class="description">
      <p><%= @group.description %></p>
      <%= button_to "Delete Category", @group, method: :delete, class: 'delete' %>
    </div>
    <div class="transactions">
      <% @entities.each do |entity| %>
        <div class="whole">
        <div class="trans">
          <strong><%= entity.name.upcase %></strong>
          <small><%= entity.created_at.strftime("%d-%b-%Y")  %> at <%= entity.created_at.strftime("%l:%M %P") %></small>
        </div>
        <h4>Amount: $<%= entity.amount %><h4>
        </div>
        <hr>
      <% end %>
    </div>
</div>
<div class="btn-div">
  <%= link_to "NEW TRANSACTION", new_group_entity_path(@group.id), class: 'new-cat' %>
</div>
<div>
</div>
