<div class="devise-page">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="top">
      <a href="/"> <i class="fa fa-arrow-left" aria-hidden="true"></i> </a>
      <h2>LOGIN</h2>
      <div class="actions">
        <%= f.submit "Log In", class: 'toplink' %>
      </div>
    </div>

    <div class="rest">
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', required: true %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', required: true %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="rem">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= link_to "Forgot your password?", new_user_password_path %><br />
</div>